$grey-0: #ffffff;
$grey-1: #f8f8f8;
$grey-2: #e6e6e6;
$grey-3: #a9a9a9;
$grey-4: #888888;
$grey-5: #333333;

$background-color: $grey-2;
$border-color: $grey-2;
$primary-color-light: #2897c5;
$primary-color: #1c688e;
$yellow: #ffab66;
$text-color-primary: $grey-5;
$text-color-secondary: $grey-3;
$text-color-button: $grey-4;
$hover-highlight-color: $grey-1;
