@import 'style/_colors.scss';

.FacetValues {
  max-height: 220px;
  overflow-y: auto;
  &__Value {
    margin: 2px 0;
    font-size: 13px;
    cursor: pointer;
    padding: 0 8px;

    label {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input[type='checkbox'] {
      display: none;
    }

    &:hover,
    &--selected {
      background-color: $primary-color-light;
      border-radius: 4px;
      color: #ffffff;

      .FacetValues__ValueCount {
        color: #ffffff;
      }
    }
  }

  &__ValueCount {
    color: $text-color-secondary;
  }
}
