.Stars {
  display: inline-block;
  vertical-align: text-top;

  & > * {
    margin: 0 2px;
  }

  & > *:first-child {
    margin-left: 0px;
  }

  & > *:last-child {
    margin-right: 0px;
  }
}

.Star {
  height: 15px;
}
