@import 'style/_colors.scss';

$left-indent: 24px;
$content-top-indent: 24px;

.App {
  width: 100%;
  min-height: 100vh;
  background-image: url('assets/background.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.Card {
  width: 820px;
  background: white;
  margin: 56px 16px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 16px 0px rgba(0, 0, 0, 0.2);
}

.SearchBar {
  padding: 0 24px;
  height: 80px;
  background: linear-gradient(3deg, $primary-color, $primary-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__Input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }
}

.Container {
  height: 500px;
  overflow-y: auto;
}

.Content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.FilterBar {
  padding: $content-top-indent 12px $content-top-indent $left-indent;
  width: 200px;
  min-height: 100%;
  border-right: solid 1px $border-color;
  box-sizing: border-box;
}

.Results {
  padding: $content-top-indent 36px;
  box-sizing: border-box;
  min-height: 100%;
  flex: 1;

  &__ProcessingTime {
    font-size: 12px;
    font-weight: 400;
  }

  &__Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
  }
}

.SectionTitle {
  margin: 0 0 16px;
  font-size: 14px;
  font-weight: 600;
}

.ShowMoreButton {
  height: 40px;
  background: none;
  border: solid 1px $border-color;
  padding: 0 16px;
  font-weight: 400;
  min-width: 180px;
  cursor: pointer;
  color: $text-color-button;

  &:hover {
    border: solid 1px $text-color-primary;
    color: $text-color-primary;
  }
}

.FilterBlock {
  margin-bottom: 32px;
}

.FacetValues {
  max-height: 220px;
  overflow-y: auto;
  &__Value {
    margin: 2px 0;
    font-size: 13px;
    cursor: pointer;
    padding: 0 8px;

    label {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input[type='checkbox'] {
      display: none;
    }

    &:hover,
    &--selected {
      background-color: $primary-color-light;
      border-radius: 4px;
      color: #ffffff;

      .FilterBar__ValueCount {
        color: #ffffff;
      }
    }
  }

  &__ValueCount {
    color: $text-color-secondary;
  }
}
