@import 'style/_colors.scss';

$left-indent: 24px;
$content-top-indent: 24px;

.App {
  width: 100%;
  min-height: 100vh;
  background-image: url('assets/background.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.Container {
  width: 820px;
  background: white;
  margin: 56px 16px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 16px 0px rgba(0, 0, 0, 0.2);
}

.SearchBar {
  padding: 0 24px;
  height: 80px;
  background: linear-gradient(3deg, $primary-color, $primary-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__Input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }
}

.Content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  height: 500px;
  overflow-y: auto;
}

.FilterBar {
  padding: $content-top-indent 12px $content-top-indent $left-indent;
  width: 200px;
  min-height: 100%;
  box-sizing: border-box;
}

.FilterGroup {
  margin-bottom: 24px;
  max-height: 250px;
  overflow-y: auto;
}

.FacetValues {
  &__Value {
    margin: 2px 0;
    font-size: 13px;
    cursor: pointer;
    padding: 0 8px;

    label {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input[type='checkbox'] {
      display: none;
    }

    &:hover,
    &--selected {
      background-color: $primary-color-light;
      border-radius: 4px;
      color: #ffffff;

      .FilterBar__ValueCount {
        color: #ffffff;
      }
    }
  }

  &__ValueCount {
    color: $text-color-secondary;
  }
}

.Results {
  border-left: solid 1px $border-color;
  padding: $content-top-indent 36px;
  box-sizing: border-box;
  min-height: 100%;
  flex: 1;

  &__ProcessingTime {
    font-size: 12px;
    font-weight: 400;
  }
}

.Restaurant {
  $restaurant-info-vertical-margin: 4px;

  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &:hover {
    background-color: $hover-highlight-color;
  }

  &__Image {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    border: solid 1px $border-color;
    cursor: pointer;
  }

  &__Name {
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  &__Info {
    margin-left: 12px;
    font-size: 13px;
  }

  &__Rating {
    margin: $restaurant-info-vertical-margin 0;
    &__StarCount {
      color: $yellow;
      font-size: 14px;
      font-weight: 600;
    }

    &__ReviewCount {
      margin-left: 12px;
      color: $text-color-secondary;
    }
  }

  &__Details {
    margin: $restaurant-info-vertical-margin 0;
    color: $text-color-secondary;
  }
}

.SectionTitle {
  margin: 0 0 16px;
  font-size: 14px;
  font-weight: 600;
}
