@import 'style/_colors.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $text-color;
  font-size: 14px;
  background-color: $background-color;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
